.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  background-color:#FFB266;
  color: aliceblue;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  padding: 30px;
}
